.footer {
  background: #111;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  height: 30px;
  margin-bottom: 10px;
}

.footer-text {
  color: #aaa;
  font-size: 14px;
}
